{% extends 'base.html.twig' %}

{% block title %}Home - StreamPlus Onboarding{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Welcome to StreamPlus!</h1>
    <p>Start your journey with us by signing up.</p>
    <a href="{{ path('onboarding') }}" class="btn btn-primary">Start Onboarding</a>
</div>
{% endblock %}
